<!-- start custom head snippets -->

<!-- insert favicons. use https://realfavicongenerator.net/ -->
<head>
    <link rel="shortcut icon" href="/assets/favicon/p0.png?" type="image/x-icon">
    <link id= "favicon" rel="icon" href="#" type="image/x-icon">
    <!--...-->

    <script>
      // favicon
        var faviconRoute = '/assets/favicon/';
        var faviconNames = ['p0.png', 'p1.png', 'p2.png', 'p3.png', 'p4.png',
                        'p5.png', 'p6.png', 'p7.png', 'p8.png', 'p9.png']; 
    
        var idx = 0;
    
        setInterval(func, 300);
    
        function func() {
            document.querySelector("#favicon").setAttribute('href', faviconRoute + faviconNames[idx++]);
            idx %= faviconNames.length;
        }
    </script>
</head>

<!-- end custom head snippets -->
